<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Storage Service</title>
    <link rel="stylesheet" href="/static/styles.css">
    <a href="https://console.platform.sh/projects/create-project/?template=https://github.com/Dev-Huang1/Cloud-Storage&utm_campaign=deploy_on_platform?utm_medium=button&utm_source=affiliate_links&utm_content=https://github.com/Dev-Huang1/Cloud-Storage" target="_blank" title="Deploy with Platform.sh"><img src="https://platform.sh/images/deploy/deploy-button-lg-blue.svg" alt=""></a>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Cloud Storage Service</h1>
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
    </div>
</body>
</html>
